doctype html
html
  head
    title Connected Cars Simulation
    link(rel='stylesheet', href='./css/style.css')
  body(style='background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); background-size: cover; animation: backgroundAnimation 10s infinite;')
    header
      h1 VehiSafe
    h3 Connected Cars Simulation
    .container
      each car in cars
        .car(class=collidedCars.includes(car) ? 'collision' : '')
          .car-info
            h2 Car ID: #{car.id}
            p Location: #{car.location.latitude.toFixed(2)}, #{car.location.longitude.toFixed(2)}
            p Speed: #{car.speed.toFixed(2)} km/h

    script.
      setTimeout(() => {
        location.reload();
      }, 2000);